// Variables

$color-white: #fff;
$color-primary: #00A2FF;
$color-black: #2a2a2a;

$color-portfolio-shadow: rgba(0, 162, 255, 0.15);
$color-portfolio-shadow-none: transparent;

$color-hire-me-background: #000c36;

$color-footer-hover: rgba(255, 255, 255, 0.6);