* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s; /* Safari 4.0 - 8.0 */
    transition-duration: 0.5s;
    font-family: 'Kanit', sans-serif;
}

/* SCROLL SHADOW */
.black {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(138, 138, 138, .5);
    -moz-box-shadow: 0px 0px 6px 0px rgba(138, 138, 138, .5);
    box-shadow: 0px 0px 6px 0px rgba(138, 138, 138, .5);
    -moz-transition-duration: 0.6s;
    -webkit-transition-duration: 0.6s; /* Safari 4.0 - 8.0 */
    transition-duration: 0.6s;
}
/* SCROLL SHADOW */

/* HAMBURGER */
#wrapper {
    width: 100%;
    height: 70px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(138, 138, 138, .5);
    -moz-box-shadow: 0px 0px 6px 0px rgba(138, 138, 138, .5);
    box-shadow: 0px 0px 6px 0px rgba(138, 138, 138, .5);
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s; /* Safari 4.0 - 8.0 */
    transition-duration: 0.5s;
}

.main-item {
	width: 40px;
	height: 40px;
	position: relative;
    left: 80%;
    top: 15px;
}

.line {
	position: absolute;
	height: 6px;
	width: 100%;
	background: rgb(42, 42, 42);
	border-radius: 20px;
	transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.32s;
}

.line01 {
	top: 19%;
}

.line02 {
	top: 49%;
}

.line03 {
	top: 79%;
}

.menu.close .line01 {
	transform: rotate(45deg);
	top: 49%;
}

.menu.close .line02, .menu.close .line03 {
	transform: rotate(-45deg);
	top: 49%;
}

/* HAMBURGER */



.logo {
    line-height: 40px;
    position: fixed;
    float: left;
    color: rgb(42, 42, 42);
    letter-spacing: 2px;
    text-transform: uppercase;
}

.logo a {
    text-decoration: none;
    color: rgb(42, 42, 42);
    font-size: 35px;
    font-weight: 700;
    display: block;
    padding: 15px 20px 15px 20px;
    margin-left: 40px;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s; /* Safari 4.0 - 8.0 */
    transition-duration: 0.5s;
}

.logo a img {
    height: 40px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 40px;
    z-index: 2;
    top: 0;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s; /* Safari 4.0 - 8.0 */
    transition-duration: 0.5s;
}

nav ul {
    line-height: 40px;
    list-style: none;
    overflow: hidden;
    color: #fff;
    margin: 0;
    padding: 0 30px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s; /* Safari 4.0 - 8.0 */
    transition-duration: 0.5s;
}

.float_right {
    float: right;
}

nav ul li {
    display: inline-block;
    float: left; /* Aby tam nebyla ta mezera, když je to float right */
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s; /* Safari 4.0 - 8.0 */
    transition-duration: 0.5s;
}

nav ul li a {
    padding: 15px 20px;
    display: block;
    text-decoration: none;
    color: rgb(42, 42, 42);
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s; /* Safari 4.0 - 8.0 */
    transition-duration: 0.5s;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    display: block;
    position: relative;
    bottom: 9px;
    background: black;
    transition: 300ms;
}

.contact_button::after {
    content: none;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a:hover {
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s; /* Safari 4.0 - 8.0 */
    transition-duration: 0.5s;
}

.button {
    color: #00A2FF;
    border: solid 2px #00A2FF;
    border-radius: 33px;
    padding: 2px 15px;
}

.button:hover {
    color: #fff;
    background-color: #00A2FF;
}

.menu-icon {
    line-height: 40px;
    width: 100%;
    color: #fff;
    background: #fff;
    text-align: right;
    box-sizing: border-box;
    padding: 0;
    cursor: pointer;
    display: none;
}





.nav_max_width {
    max-width: 1920px;
    margin: 0 auto;
}
/* NAVIGATION */




/* HEADER */

header {
    height: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.wrapper {
    text-align: center;
    margin: 0 50px;
}

.wrapper h1 {
    font-size: 3em;
}

.wrapper p {
    font-size: 1.5em;
    font-weight: 300;
    margin-top: 5px;
}

.wrapper a img {
    height: 65px;
    margin-top: 40px;
}





#about_me {
    position: relative;
    bottom: 70px;
}

.about_me {
    background-color: #00A2FF;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.wrapper_about_me {
    color: #fff;
    margin: 0 auto;
    padding-bottom: 80px;
    text-align: center;
    max-width: 1200px;
    width: 90%;
}

.wrapper_about_me h2 {
    font-size: 1.7em;
}

.wrapper_about_me p {
    font-size: 1.2em;
    font-weight: 300;
}

.space_mobile {
    display: none;
}








#skills {
    position: relative;
    bottom: 170px;
}

.skills {
    display: flex;
    text-align: center;
    justify-content: center;
}

.main_box {
    border: solid 0.3px #e3e3e3;
    width: 90%;
    max-width: 1200px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    margin-top: -80px;
}

.box {
    display: flex;
    width: 33.3%;
    height: 100%;
    flex-direction: column;
    padding: 0 25px 80px 25px;
}

.box img {
    height: 60px;
    margin: 70px 0 40px 0;
}

.box h3 {
    font-weight: 400;
    font-size: 1.5em;
    margin-bottom: 40px;
}

.box p {
    font-weight: 200;
    font-size: 1.2em;
}

.box span {
    color: #00A2FF;
    font-weight: 300;
    font-size: 1.3em;
}

.box2 {
    border-right: solid 0.5px #e3e3e3;
    border-left: solid 0.5px #e3e3e3;
    border-top: none;
    border-bottom: none;
}











#portfolio {
    position: relative;
    bottom: 70px;
}

.portfolio {
    text-align: center;
    max-width: 1200px;
    width: 90%;
    margin: 100px auto 50px auto;
}

.portfolio h4 {
    font-size: 2em;
}

.portfolio p {
    font-weight: 200;
    font-size: 1.4em;
}

.portfolio a {
    color: #00A2FF;
    text-decoration: none;
    display: inline-block;
}

.portfolio a::after {
    content: '';
    width: 100%;
    position: relative;
    bottom: 5px;
    height: 1px;
    display: block;
    background: #00A2FF;
    transition: 300ms;
}


.portfolio a:hover::after {
    width: 0;
}

.portfolio_boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio_box {
    width: 30%;
    height: 220px;
    background-color: gray;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 2%;
    cursor: pointer;
    box-shadow: inset 0 0 0 1000px rgba(0, 162, 255, 0.3);
}

.portfolio_box:hover {
    transform: scale(1.05);
    box-shadow: inset 0 0 0 1000px rgba(0, 162, 255, 0);
}

.p1 {
    background-image: url(../images/portfolio/test1.JPG);
    background-size: cover;
    background-position: center;
}

.p2 {
    background-image: url(../images/portfolio/test2.JPG);
    background-size: cover;
    background-position: center;
}

.p3 {
    background-image: url(../images/portfolio/test3.JPG);
    background-size: cover;
    background-position: center;
}

.p4 {
    background-image: url(../images/portfolio/test7.JPG);
    background-size: cover;
    background-position: center;
}

.p5 {
    background-image: url(../images/portfolio/test6.JPG);
    background-size: cover;
    background-position: center;
}

.p6 {
    background-image: url(../images/portfolio/test5.JPG);
    background-size: cover;
    background-position: center;
}











.hire_me {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    background-color: #000c36;
    color: #fff;
    border-radius: 20px;
    height: 120px;
    text-align: center;
    position: relative;
    bottom: -80px;
}

.hire_me_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    flex-direction: row;
}

.hire_me h5 {
    font-size: 1.8em;
}

.hire_me p {
    font-size: 1em;
    font-weight: 400;
}

.hire_me button {
    background-color: transparent;
    padding: 7px 23px;
    border: 2px solid #00A2FF;
    border-radius: 50px;
    cursor: pointer;
}

.hire_me button:hover {
    background-color: #00A2FF;
}

.hire_me button a {
    color: #fff;
    font-size: 1.4em;
    text-decoration: none;
}







footer {
    background-color: #00A2FF;
    text-align: center;
}

.footer {
    padding-top: 150px;
    margin: 0 15px;
}

.footer img {
    height: 50px;
    margin-bottom: 30px;
}

.footer h6 {
    font-size: 1.3em;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 300;
    margin-bottom: 30px;
}

.footer .social_media_icons a {
    padding: 5px;
    border: solid 3px rgba(255, 255, 255, 0.6);
    padding: 10px;
    width: 50px;
    height: 50px;
    margin: 0 5px;
    border-radius: 100%;
    display: inline-block;
}

.footer .social_media_icons a:hover {
    border: solid 3px rgba(255, 255, 255, 1);
}

.footer .social_media_icons img {
    height: 20px;
    margin: 0;
    margin-top: 2px;
}

.footer p {
    color: rgba(255, 255, 255, 0.6);
    margin-top: 20px;
    padding-bottom: 50px;
    font-weight: 300;
    font-size: 1.2em;
}

.footer p a {
    color: #fff;
    text-decoration: none;
}

.footer p a:hover {
    color: rgba(255, 255, 255, 0.6);
}







@media only screen and (max-width: 786px) {
    * {
        font-s
    }
    
    .logo {
        position: fixed;
        top: 0;
    }

    .logo a {
        margin-left: 10px;
    }
    
    nav ul {
        max-height: 0px;
        background: rgb(245, 245, 245);
        padding: 0;
        -webkit-box-shadow: 0px 5px 5px 0px rgba(138, 138, 138, .2);
        -moz-box-shadow: 0px 5px 5px 0px rgba(138, 138, 138, .2);
        box-shadow: 0px 5px 5px 0px rgba(138, 138, 138, .2);
        
    }

    nav ul li {
	    background-color: rgb(250, 250, 250);
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        float: none;
        -moz-transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s; /* Safari 4.0 - 8.0 */
        transition-duration: 0.5s;
    }
    
    nav ul li:hover {
        background-color: rgb(220, 220, 220);
    }
    
    nav ul .contact_button_background:hover {
        background-color: rgba(0, 162, 255, 0.2);
    }

    nav ul li a {
        padding: 25px 0;
    }
    
    nav ul li a::after {
        content: none;
    }
    
    .button {
        color: #00A2FF;
        border: none;
    }

    .button:hover {
        color: #00A2FF;
        background-color: transparent;
    }
    
    .showing {
        max-height: 34em;
    }

    .float_right {
        float: none;
    }
    
    .menu-icon {
        display: block;
    }
    
    .main-item {
        left: 83%;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    .wrapper_about_me {
        margin: 0 20px;
    }
    
    .space_mobile {
        display: block;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    .main_box {
        flex-direction: column;
    }
    
    .box {
        width: 100%;
    }
    
    .box2 {
        border-right: none;
        border-left: none;
        border-top: solid 0.5px #e3e3e3;
        border-bottom: solid 0.5px #e3e3e3;
    }
    
    .portfolio_box {
        width: 100%;
        margin: 0 0;
        margin-top: 50px;
        box-shadow: inset 0 0 0 1000px rgba(0, 162, 255, 0);
    }

    .box img {
        margin: 50px 0 40px 0;
    }
    
    .box h3 {
        margin-bottom: 20px;
    }

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    .hire_me h5 {
        margin-bottom: -30px;
    }
    
    .hire_me {
        height: 250px;
        bottom: -180px;
        margin-top: -80px;
    }
    
    .hire_me_wrapper {
        height: 250px;
        flex-direction: column;
        padding: 20px 12px;
    }
    
    
    
    
    
    
    
    
    
    
    .footer {
        padding-top: 230px;
    }
    
    
    
    
}

@media only screen and (max-width: 650px) {
    .main-item {
        left: 80%;
    }
}

@media only screen and (max-width: 500px) {
    .main-item {
        left: 73%;
    }
}

@media only screen and (max-width: 400px) {
    .main-item {
        left: 69%;
    }
}